<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.unsyiah.jte.mobile.aplikasipariwisatasabang" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JelajahTurisActivity"
            android:label="@string/title_activity_jelajah_turis" >
        </activity>
        <activity
            android:name=".CariWisataActivity"
            android:label="@string/title_activity_cari_wisata" >
        </activity>
        <activity
            android:name=".CariHotelActivity"
            android:label="@string/title_activity_cari_hotel" >
        </activity>
        <activity
            android:name=".TuguActivity"
            android:label="@string/title_activity_tugu" >
        </activity>
        <activity
            android:name=".IboihActivity"
            android:label="@string/title_activity_iboih" >
        </activity>
        <activity
            android:name=".AneukLaotActivity"
            android:label="@string/title_activity_aneuk_laot" >
        </activity>
        <activity
            android:name=".PulauRubiahActivity"
            android:label="@string/title_activity_pulau_rubiah" >
        </activity>
        <activity
            android:name=".PantaiGapangActivity"
            android:label="@string/title_activity_pantai_gapang" >
        </activity>
        <activity
            android:name=".ParadisoActivity"
            android:label="@string/title_activity_paradiso" >
        </activity>
        <activity
            android:name=".TapakGajahActivity"
            android:label="@string/title_activity_tapak_gajah" >
        </activity>
        <activity
            android:name=".AngenActivity"
            android:label="@string/title_activity_angen" >
        </activity>
        <activity
            android:name=".PriaLaotActivity"
            android:label="@string/title_activity_pria_laot" >
        </activity>
        <activity
            android:name=".JaboiActivity"
            android:label="@string/title_activity_jaboi" >
        </activity>
        <activity
            android:name=".KeuneukaiActivity"
            android:label="@string/title_activity_keuneukai" >
        </activity>
    </application>

</manifest>
